<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add a new fighte</title>
</head>
<body>
<h3> Enter the info</h3>
<!-- When we use the label and the input, remember to write the same thing in the label and in the input otherwise
it will not work a-->
<form action="/addFighter" method="post">
    <label hidden="hidden" for="first_name "> First name</label>
    <input placeholder="First name" type="text" id="first_name " name="first_name"><br> <br>
    <label hidden="hidden" for="last_name">Last name</label>
    <input placeholder="last name" type="text" id="last_name" name="last_name"> <br> <br>
    <label hidden="hidden" for="lose"> Lose</label>
    <input placeholder="Lose" type="text" id="lose" name="lose"><br> <br>
    <label hidden="hidden" for="win"> Win</label>
    <input placeholder="win" type="text" id="win" name="win"><br> <br>
    <label hidden="hidden"for="weight">Weight</label>
    <input placeholder="weight" type="text"id="weight" name="weight"> <br> <br>
    <input type="submit"value="submit">

</form>
</body>
</html>