<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new Fighter</title>
</head>
<body>
<form action="/addFWF" method="post">
    <label hidden="hidden" for="first_name">First name</label>
    <input placeholder="First name" type="text" id="first_name" name="first_name">
    <label hidden="hidden" for="last_name">Last name</label>
    <input placeholder="last_name" type="text" id="last_name" name="last_name">
    <label hidden="hidden" for="lose">Lose</label>
    <input placeholder="lose" type="text" id="lose" name="lose">
    <label hidden="hidden" for="win">Win</label>
    <input placeholder="Win" type="text" id="win" name="win">
    <label hidden="hidden" for="weight">weight</label>
    <input placeholder="weight" type="text" id="weight" name="weight">
    <input type="submit"value="Add Fighter">
</form>

</body>
</html>