<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update the info</title>
</head>
<body>
<form action="/updateFWMFF" method="post">
    <input type="text" name="id" th:value="${Fly_Female.id}" style="display: none">
    <br>
    <input type="text" name="first_name" th:value="${Fly_Female.first_name}">
    <br>
    <input type="text" name="last_name" th:value="${Fly_Female.last_name}">
    <br>
    <input type="text" name="lose" th:value="${Fly_Female.lose}">
    <br>
    <input type="text" name="win" th:value="${Fly_Female.win}">
    <br>
    <input type="text" name="weight" th:value="${Fly_Female.weight}">
    <br>
    <input type="submit" value="save change">
</form>
</body>
</html>